  .heading
  {
    width: 100%;
    margin: 0px;
    box-shadow:10px 10px 20px rgb(190, 237, 255);
    color: rgb(65, 56, 56);
    font-size: 22px;
    word-spacing: 10px;
    letter-spacing: 5px;
    background-image: linear-gradient(to left, #acf1ff, #b8e9fc, #c3e1f5, #cbd9ea, #cfd3de, #d0d1de, #d2d0de, #d4cedd, #dccee7, #e6ceef, #f2cdf6, #ffcbfb);
  }
  .heading2
  {
    background: rgb(66, 61, 61) ; 
    border-radius: 20px; 
    color: white;
    box-shadow:10px 10px 20px grey;
    word-spacing:normal;
    letter-spacing: normal;
    font-size: 20px;
    width: 60%;
    padding: 10px;
    
  }
  .heading3
  {
    font-size: 18px ;
    color: yellow;
    padding: 10px;
  }
  .result_para_tag
  {
    box-shadow:5px 5px 5px grey;
    font-size: 20px;
    background-color: white;
    
  }
  body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqpKjeU_UyDnH_pmWRrSdrkatefyDgyNZjBw&usqp=CAU");
    font-family: 'Charmonman', cursive;
    background-size:cover;
  }
  .copy_right_footer{
      background-color: rgb(78, 78, 78);
      color: yellow;
      position: fixed;
      width: 100%;
      bottom: 0;
      text-align: center;
      line-height: 2;
      word-spacing: 5px;
      font-size: 16px;
  }
  canvas{
    border:10px groove white;
    box-shadow: 10px 10px 20px yellow;
    margin-top: 80px;
    border-radius: 20px;
    margin-bottom: 100px;
  }
 